<div class="image-with-description">
    <div class="image">
        <img src="https://images.pexels.com/photos/850359/pexels-photo-850359.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Description of the image" id="photo" />
    </div>
        <div class="title">
            <h1>About Flowers</h1>
            <p class="image-description">
       
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iure, nam, dignissimos cumque ab architecto ex ipsam optio harum molestiae iusto, sapiente quis veritatis eligendi earum ea impedit nobis exercitationem.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, natus excepturi delectus deserunt numquam quasi eveniet repudiandae laudantium nam. Repellat dolorem sunt pariatur eius totam, obcaecati esse. Tempora, quis ut.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iure, nam, dignissimos cumque ab architecto ex ipsam optio harum molestiae iusto, sapiente quis veritatis eligendi earum ea impedit nobis exercitationem.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, natus excepturi delectus deserunt numquam quasi eveniet repudiandae laudantium nam. Repellat dolorem sunt pariatur eius totam, obcaecati esse. Tempora, quis ut.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iure, nam, dignissimos cumque ab architecto ex ipsam optio harum molestiae iusto, sapiente quis veritatis eligendi earum ea impedit nobis exercitationem.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, natus excepturi delectus deserunt numquam quasi eveniet repudiandae laudantium nam. Repellat dolorem sunt pariatur eius totam, obcaecati esse. Tempora, quis ut.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iure, nam, dignissimos cumque ab architecto ex ipsam optio harum molestiae iusto, sapiente quis veritatis eligendi earum ea impedit nobis exercitationem.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, natus excepturi delectus deserunt numquam quasi eveniet repudiandae laudantium nam. Repellat dolorem sunt pariatur eius totam, obcaecati esse. Tempora, quis ut.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iure, nam, dignissimos cumque ab architecto ex ipsam optio harum molestiae iusto, sapiente quis veritatis eligendi earum ea impedit nobis exercitationem.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, natus excepturi delectus deserunt numquam quasi eveniet repudiandae laudantium nam. Repellat dolorem sunt pariatur eius totam, obcaecati esse. Tempora, quis ut.<br>

           </p>
        </div>
    
  </div>