.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.image img {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
    flex: 1;
}

.text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.text button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.text button:not(:last-child) {
    margin-right: 10px;
}

.text button:hover {
    background-color: #45a049;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
